# Çıktılar
output_files/
temp_files/
runs/
Data_tbc/

# Ortam / cache
venv/
__pycache__/
.DS_Store

# Ağır modeller
*.pt
*.pb
*.pth
*.onnx
*.log

# (İstersen) büyük dokümanlar
# *.pdf
# *.tif
# *.jpg
# *.jpeg
# *.png

 
models/
mrzData/
pp_ocr_models/
test_belgeler/
yolo_train/
yolo-Weights/
venvSign/
